<div id="posts-grid" class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <% response.posts.forEach(post => { %>
    <div class="col">
        <div class="card mt-4">
            <div class="card-body">
                <div class="d-flex">
                    <h5 class="card-title mb-0"><%= post.creatorName %></h5>
                    <h6 class="mb-0 ms-auto">
                        <span class="badge rounded-pill bg-primary" style="min-width: 30px;">
                            <%= post.score %>
                        </span>
                    </h6>
                </div>
                <p class="text-black-50" style="font-size: smaller;"><%= post.dateTime %></p>
                <p class="card-text"><%= post.caption %></p>
                <div class="d-flex">
                    <div class="d-flex align-items-center">
                        <i class="fa-regular fa-thumbs-up text-primary"></i>
                        <p class="mb-0 ms-1 fw-bold">
                            <%= post.likes.toLocaleString('vi-VN', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) %>
                        </p>
                        <i class="fa-regular fa-comment text-primary ms-3"></i>
                        <p class="mb-0 ms-1 fw-bold">
                            <%= post.cmts.toLocaleString('vi-VN', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) %>
                        </p>
                    </div>
                    <div class="ms-auto">
                        <a target="_blank" href="https://www.facebook.com/story.php?story_fbid=<%= post.id %>">
                            <i class="fa-solid fa-up-right-from-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }) %>
</div>